html {
background-color: #C7F5FE !important
}
body {
background: linear-gradient(45deg, #C7F5FE 10%, #C7F5FE 40%, #FCC8F8 40%, #FCC8F8 60%, #EAB4F8 60%, #EAB4F8 65%, #F3F798 65%, #F3F798 90%) !important
}
div,p,tbody,table,tr,td,a,
textarea,span,button,li,span,h2,main,kbd,section,header,summary,form,input,ul 
{
background: #009dff00 !important
}
details-dialog,modal-dialog,query-builder,.gh-header-shadow {
background: linear-gradient(45deg, #C7F5FE 10%, #C7F5FE 40%, #FCC8F8 40%, #FCC8F8 60%, #EAB4F8 60%, #EAB4F8 65%, #F3F798 65%, #F3F798 90%) !important
}

.immersive-translate-target-translation-theme-marker2-inner{
text-shadow: 10px 0px 3px #fa173f00, 16px 3px 9px #fa173f00, 2px 0px 6px #fa173f00, -12px 0px 12px #fa173f00 !important;
}
.immersive-translate-target-inner{
//background: linear-gradient(45deg, #fbc2eb 10%, #C7F5FE 40%, #96e6a1 40%, #FCC8F8 50%, #EAB4F8 50%, #fed6e3 65%, #F3F798 60%, #00f2fe 90%) ;
// background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
// background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
//background: linear-gradient(-225deg, #FF057C 0%, #7C64D5 48%, #4CC3FF 100%);
//background: linear-gradient(-225deg, #20E2D7 0%, #F9FEA5 100%);
background: linear-gradient(to right, #00f2fe 0%, #d4fc79 19%, #ace0f9 42%, #fa71cd 79%, #fee140 100%);
}
